

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <600>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 /*shared style */
 .secondary-bg{
    background-color:#FFF8F3;
 }
 .text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747 ;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    text-align: center;
}
.sction-description{
    font: size 18px;
    color:#757575;
}
.text-center{
    text-align: center;
}
.skill-container{
   display: flex;
   gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 06) ;
    border-radius: 5px;
}
/* Nav style*/
nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
      
}
/*Banner style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 200px;
    
}
.banner-content{
    max: width 580px;
}
.welcome{
  font-size: 45px;  
  font-weight: 600;
}
.name-title{
    font-weight: 800;
    font-size: 85px;
}
.picture-{
    width: 580px;
}
/*main*/
.main{
    max-width: 1140px;
    margin: 0 auto;
    color: ;
}
/*about section*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    text-align: center;
      

}
.about-items{
    display:flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.resume-container{
    display: flex;
    gap: 24px;
    justify-content:space-between;
    
}
.resume hr{
margin:30px 0px  ;
}
. resume-cv{
    margin: 50px;
}
.footer-column{
    width: 50%;
    justify-content: space-between;
}
